<div class="cv">
  <div class="container">

    <h2>Where I've spent my time</h2>

    <!-- Airtasker -->
    <div class="columns">
      <div class="column is-one-third left">
        <img src="assets/images/airtaskerml.png" style="height: 62px;" />
        <p>
          Airtasker helps you to realise the full value of your skills.
        </p>
      </div>
      <div class="column is-two-thirds right">
        <div class="jobtitle">Senior Data Scientist</div>
        <div class="time">May 2017 - Present</div>
        <div class="description">
          <p>
            I’m responsible for building the machine learning pipeline and
            algorithms at Airtasker. I've built systems to:
          </p>
          <p>
            - Automate platform moderation. Many things posted to the platform
            do not fit with our community guidelines. We have a set of
            algorithms as our front-line defense removing undesirable
            content.
          </p>
          <p>
            - Categorise tasks. Hundreds of thousands of tasks are posted to
            Airtasker. We automatically classify the to help our users find
            what they are looking for.
          </p>
          <p>
            - Recommendation systems. Due to the shear volume of tasks on the
            platform, we use recommendation algorithms to help surface the
            right tasks to our users.
          </p>
          <p>
            - Pricing algorithms. Understanding how much a task is worth is
            important for both sides of the transaction.
          </p>
          <p>
            - Productionising machine learning algorithms. Developing an
            algorithm is only a small fraction of delivering a machine learning
            solution. Most of the battle is productionising the models in such
            a way that we can rely on them, monitor them, and push out updates
            quickly.
          </p>
        </div>
      </div>
    </div>

    <!-- Mathspace -->
    <div class="columns">
      <div class="column is-one-third left">
        <img src="assets/images/mathspace.png" style="height: 38px;" />
        <p>
          When you’re learning maths, Mathspace is the right help at the right
          time.
        </p>
      </div>
      <div class="column is-two-thirds right">
        <div class="jobtitle">R&D Software Engineer & Data Scientist</div>
        <div class="time">September 2016 - May 2017 (9 months)</div>
        <div class="description">
          <p>
            I built tools to help Mathspace understand their data and create
            more value for their customers and the company. I developed the next
            generation of adaptive learning algorithms to further automate the
            learning experience. Kids are now learning independently.
          </p>
        </div>
      </div>
    </div>

    <!-- WBS -->
    <div class="columns">
      <div class="column is-one-third left">
        <img src="assets/images/wbs.png" style="height: 200px;" />
      </div>
      <div class="column is-two-thirds right">
        <div class="jobtitle">Data Scientist</div>
        <div class="time">May 2014 - June 2016 (2 years 2 months)</div>
        <div class="description">
          <p>
            I used online data such as Google search logs to predict real world
            behaviour like future stock prices. Highlights include:
          </p>
          <p>
            - Engineered software on a Python/Javascript/HTML/CSS stack to
            predict future student numbers of the Warwick Business school and
            improve business operations.
          </p>
          <p>
            - Engineered various web tools in for business stakeholders to
            analyse large datasets.-Lead the development or had a hand in
            developing any software that was used outside of our team.
          </p>
          <p>
            - Created a multitude of data visualisations and infographics to
            showcase my own work and the work of the team.
          </p>
        </div>
      </div>
    </div>

    <!-- CSU -->
    <div class="columns">
      <div class="column is-one-third left">
        <img src="src/assets/images/csu.png" style="height: 72px;" />
      </div>
      <div class="column is-two-thirds right">
        <div class="jobtitle">Ph.D. Student</div>
        <div class="time">2011 - 2013 (3 years)</div>
        <div class="description">
          <p>
            I developed a rigorous mathematical framework for traditional
            methods of trading. I used statistical analysis to dissect and
            understand how the methods generated profits.
          </p>
        </div>
      </div>
    </div>


  </div>
</div>
