@import "assets/bulma.css";
@import url('https://fonts.googleapis.com/css?family=PT+Serif:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
	font-family: 'Open Sans', sans-serif;
}

.hero {
	background: url('assets/images/hero2.jpg') no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1, h2, h3 {
	font-family: 'PT Serif', serif;
}

h2 {
	font-weight: bold;
	font-size: 48px;
}

h2 .heart {
	color: #FF0707;
}

.hero h1 {
	font-weight: bold;
	font-size: 10vmin;
	color: #32434C;
}

h3 {
	font-weight: bold;
	font-size: 36px;
	color: black;
}

a {
	color: #2F80ED;
}

.hero .hero-head {
	padding: 1.5rem;
}


.hero .navbar {
	display: block;
	text-align: right;
}

.hero .social {
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 30px;
}

.hero .social:hover {
	-moz-transform: translate(-0px, -4px);
	-ms-transform: translate(-0px, -4px);
	-o-transform: translate(-0px, -4px);
	-webkit-transform: translate(-0px, -4px);
	transform: translate(-0px, -4px);
}

.hero .social.twitter {
	background-image: url('assets/images/twitter-dark.png');
}

.hero .social.linkedin {
	background-image: url('assets/images/linkedin-dark.png');
	width: 35px;
}

.hero .social.github {
	background-image: url('assets/images/github-dark.png');
}

.hero .social.aboutme {
	background-image: url('assets/images/aboutme-dark.png');
}

.columns {
	margin: 0;
}

.column {
	overflow: hidden;
}

.iluvdata .left {
	background-color: #FFFBFB;
	padding: 100px;
	font-weight: 300;
	font-style: normal;
	font-size: 36px;
}

.iluvdata .left p {
	margin-top: 40px;
}

.iluvdata .right {
	background-color: #FD3B56;
	max-height: 100%;
	padding: 0;
	background-image: url(assets/images/IPhone.jpg);
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 500px;
}

.footer {
	padding: 0;
	position: relative;
}

.footer .copyrite {
	background-color: #172E50;
	color: #8B96A7;
	position: relative;
	text-align: center;
	font-size: 18px;
	padding: 30px;
}

.footer .social {
	background-color: #344D72;
	text-align: center;
	padding-top: 3px;
}

.footer .social a {
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin:20px;
}

.footer .social a:hover {
	-moz-transform: translate(-0px, -4px);
	-ms-transform: translate(-0px, -4px);
	-o-transform: translate(-0px, -4px);
	-webkit-transform: translate(-0px, -4px);
	transform: translate(-0px, -4px);
}

.footer .social a.twitter {
	background-image: url('assets/images/twitter-light.png');
}

.footer .social a.linkedin {
	background-image: url('assets/images/linkedin-light.png');
	width: 35px;
}

.footer .social a.github {
	background-image: url('assets/images/github-light.png');
}

.footer .social a.aboutme {
	background-image: url('assets/images/aboutme-light.png');
}

.footer .contact {
	background-color: #4A658E;
	color: white;
	text-align: center;
	font-size: 22px;
	padding: 100px;
}

.footer .contact h2 {
	font-size: 56px;
}

.footer .contact p {
	font-weight: 300;
	padding-top: 40px;
	padding-bottom: 40px;
	display: block;
	max-width: 700px;
	margin: 0 auto;
}

.footer .contact a {
	font-weight: 700;
	color: white;
}

.footer .contact a:hover {
	text-decoration: underline;
}

.cv {
	background-color: #F5F8F9;
	position: relative;
	overflow: hidden;
	font-size: 18px;
}

.cv .container {
	max-width: 850px;
}

.cv .columns {
	margin-bottom: 50px;
}

.cv h2 {
	text-align: center;
	padding: 50px;
	color: #6A94A2;
}

.cv .left {
	text-align: center;
	line-height: 1.75;
	color: #ACAEAE;
}

.cv .jobtitle {
	font-weight: bold;
}

.cv .time {
	color: #7A7676;
}

.cv .right p {
	padding-top: 20px;
}

.things {
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 100px;
}

.things h2 {
	text-align: center;
	padding: 100px;
	padding-bottom: 90px;
}

.things h3 {
	margin-top: 20px;
}

.things h3.notop {
	margin-top: 0px;
}

.tile.is-parent {
	margin: 0;
	padding: 0;
}

.things .tile.is-child.thing {
	/* Turn off bulma styles */
	border: none;
	box-shadow: none;
	border-radius: 0;

	/* My styles */
	background-color: #FAFAFA;
	padding: 40px;
	margin: 10px !important;
	color: black;
}

.things .tile.is-child.thing p {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.photorow {
	display: flex;
}

.coventryimage {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

/* Make the photos square */
.coventryimage:before {
    content: "";
    display: block;
    padding-top: 100%;
    float: left;
}

.shortertitlesmedia {
	margin: 10px;
	/* margin-bottom: 20px; */
	overflow: hidden;
	display: inline-block;
	opacity: 0.5;
}

.shortertitlesmedia:hover {
	opacity: 1.0;
}

.summerschoolthumb {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

/* Make the photos square */
.summerschoolthumb:before {
    content: "";
    display: block;
    padding-top: 100%;
    float: left;
}

.christmaslecturethumb {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

/* Make the photos square */
.christmaslecturethumb:before {
    content: "";
    display: block;
    padding-top: 100%;
    float: left;
}
