@import "assets/bulma.css";
@import url('https://fonts.googleapis.com/css?family=PT+Serif:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
	font-family: 'Open Sans', sans-serif;
}

.hero {
	background: url('assets/images/hero.png') no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1, h2 {
	font-family: 'PT Serif', serif;
}

h2 {
	font-weight: bold;
	font-size: 30px;
}

h2 .heart {
	color: #FF0707;
}

.hero h1 {
	font-weight: bold;
	font-size: 10vmin;
	color: #32434C;
}
.hero .navbar {
	display: block;
	text-align: right;
}

.hero .social {
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin:20px;
}

.hero .social.twitter {
	background-image: url('assets/images/twitter-dark.png');
}

.hero .social.linkedin {
	background-image: url('assets/images/linkedin-dark.png');
	width: 35px;
}

.hero .social.github {
	background-image: url('assets/images/github-dark.png');
}

.hero .social.aboutme {
	background-image: url('assets/images/aboutme-dark.png');
}

.iluvdata .left {
	background-color: #FFFBFB;
	padding: 100px;
	font-weight: 300;
	font-style: normal;
	font-size: 26px;
}

.iluvdata .left p {
	margin-top: 40px;
}

.iluvdata .right {
	background-color: #FD3B56;
	max-height: 100%;
	padding: 0;
}

.footer {
	padding: 0;
	position: relative;
}

.footer .copyrite {
	background-color: #172E50;
	color: #8B96A7;
	position: relative;
	text-align: center;
	font-size: 18px;
	padding: 30px;
}

.footer .social {
	background-color: #344D72;
	text-align: center;
	padding-top: 3px;
}

.footer .social a {
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin:20px;
}

.footer .social a.twitter {
	background-image: url('assets/images/twitter-light.png');
}

.footer .social a.linkedin {
	background-image: url('assets/images/linkedin-light.png');
	width: 35px;
}

.footer .social a.github {
	background-image: url('assets/images/github-light.png');
}

.footer .social a.aboutme {
	background-image: url('assets/images/aboutme-light.png');
}

.footer .contact {
	background-color: #4A658E;
	color: white;
	text-align: center;
	font-size: 22px;
	padding: 100px;
}

.footer .contact h2 {
	font-size: 56px;
}

.footer .contact p {
	font-weight: 300;
	padding-top: 40px;
	padding-bottom: 40px;
	display: block;
	max-width: 700px;
	margin: 0 auto;
}

.footer .contact a {
	font-weight: 700;
	color: white;
}

.footer .contact a:hover {
	text-decoration: underline;
}
