<div class="columns">
  <div class="column">
    <h3 class="notop">AWS film shoot</h3>
    <p>
      I talked to Amazon Web Services about Carl, one of the awesome machine
      learning tools that we built at Airtasker.
    </p>
    <p>
      Carl is an algorithm that classifies the tasks posted to the Airatasker
      platform. He’s named after Carl Linnaeus.
    </p>
  </div>
  <div class="column">
    <a href="https://www.youtube.com/watch?v=zFdzioMr40Y" target="_blank">
      <img src="assets/images/aws_film_shoot.png" />
    </a>
  </div>
</div>
