<div>
  <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0149025" target="_blank">
    <img src="assets/images/babies_and_cats.png" />
  </a>
  <h3>Babies and cats</h3>
  <p>
    I used some fancy maths and Google trends to uncover relationships between
    people's online searches and their economy. I found out that U.S. states
    with higher rates of infant mortality Google for bad credit, loans, and
    information on sexually transmitted diseases.
  </p>
  <p>
    I wrote <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0149025">a paper</a> about it.
  </p>
</div>
