<div>
  <h3 class="notop">Christmas lecture</h3>
  <p>
    I co-hosted a 2015 Christmas Lecture at the University of Warwick. The show
    was about robotics, and all the different parts that make a functioning
    robot, as well as the roles these robots now play in society. We had
    audience members on the stage to help us demonstrate how programming works,
    how artificial intelligence works and how we make robots look friendly. We
    had a huge array of robots on the stage, but the highlight was a small
    humanoid robot called Nao who walked onto the stage and delighted the
    audience.
  </p>



  <!-- Grid of photos -->
  <div class="photorow">
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 02_thumbnail.png');" class="christmaslecturethumb"></a>
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 08_thumbnail.png');" class="christmaslecturethumb"></a>
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 09_thumbnail.png');" class="christmaslecturethumb"></a>
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 12_thumbnail.png');" class="christmaslecturethumb"></a>
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 13_thumbnail.png');" class="christmaslecturethumb"></a>
  </div>
  <div class="photorow">
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 19_thumbnail.png');" class="christmaslecturethumb"></a>
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 20_thumbnail.png');" class="christmaslecturethumb"></a>
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 38_thumbnail.png');" class="christmaslecturethumb"></a>
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 42_thumbnail.png');" class="christmaslecturethumb"></a>
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 45_thumbnail.png');" class="christmaslecturethumb"></a>
  </div>
  <div class="photorow">
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 46_thumbnail.png');" class="christmaslecturethumb"></a>
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 51_thumbnail.png');" class="christmaslecturethumb"></a>
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 58_thumbnail.png');" class="christmaslecturethumb"></a>
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 76_thumbnail.png');" class="christmaslecturethumb"></a>
    <a href="#" style="background-image: url('assets/images/christmaslecture/rob 86_thumbnail.png');" class="christmaslecturethumb"></a>
  </div>



</div>
