<div class="columns">


  <div class="column is-one-third">
    <h3 class="notop">Coventry in data</h3>
    <p>
      I made a series of data visualisations bringing to life the city of
      Coventry from the UK census.
    </p>
  </div>


  <div class="column is-two-thirds">
    <!-- Grid of photos -->
    <div class="photorow">
      <a href="assets/images/coventryindata/qualifications.png" class="coventryimage" style="background-image: url(assets/images/coventryindata/qualifications-thumbnail.png);"></a>
      <a href="assets/images/coventryindata/deprivation.png" class="coventryimage" style="background-image: url(assets/images/coventryindata/deprivation-thumbnail.png);"></a>
      <a href="assets/images/coventryindata/ethnicity.png" class="coventryimage" style="background-image: url(assets/images/coventryindata/ethnicity-thumbnail.png);"></a>
    </div>
    <div class="photorow">
      <a href="assets/images/coventryindata/religion.png" class="coventryimage" style="background-image: url(assets/images/coventryindata/religion-thumbnail.png);"></a>
      <a href="assets/images/coventryindata/overview.png" class="coventryimage" style="background-image: url(assets/images/coventryindata/overview-thumbnail.png);"></a>
      <a href="assets/images/coventryindata/correlations.jpg" class="coventryimage" style="background-image: url(assets/images/coventryindata/correlations-thumbnail.png);"></a>
    </div>
  </div>

</div>
