<div class="columns">
  <div class="column is-two-thirds">

    <!-- Grid of photos -->
    <div style="position: relative; width: 100%; overflow: hidden;">
      <div>
        <a href="#" style="background-image: url(assets/images/summerschool/Y12D1-8-thumbnail.png);" class="summerschoolthumb"></a>
        <a href="#" style="background-image: url(assets/images/summerschool/Y12D1-12-thumbnail.png);" class="summerschoolthumb"></a>
        <a href="#" style="background-image: url(assets/images/summerschool/Y12D1-14-thumbnail.png);" class="summerschoolthumb"></a>
        <a href="#" style="background-image: url(assets/images/summerschool/Y12D1-18-thumbnail.png);" class="summerschoolthumb"></a>
      </div>
      <div>
        <a href="#" style="background-image: url(assets/images/summerschool/Y12D1-19-thumbnail.png);" class="summerschoolthumb"></a>
        <a href="#" style="background-image: url(assets/images/summerschool/Y12D1-28-thumbnail.png);" class="summerschoolthumb"></a>
        <a href="#" style="background-image: url(assets/images/summerschool/Y12D1-37-thumbnail.png);" class="summerschoolthumb"></a>
        <a href="#" style="background-image: url(assets/images/summerschool/Y12D1-64-thumbnail.png);" class="summerschoolthumb"></a>
      </div>
      <div>
        <a href="#" style="background-image: url(assets/images/summerschool/Y12D1-172-thumbnail.png);" class="summerschoolthumb"></a>
        <a href="#" style="background-image: url(assets/images/summerschool/Y12D1-183-thumbnail.png);" class="summerschoolthumb"></a>
        <a href="#" style="background-image: url(assets/images/summerschool/Y12D1-191-thumbnail.png);" class="summerschoolthumb"></a>
        <a href="#" style="background-image: url(assets/images/summerschool/Y12D1-224-thumbnail.png);" class="summerschoolthumb"></a>
      </div>
    </div>

  </div>

  <div class="column is-one-third">
    <h3>Robot races</h3>
    <p>
      I teach kids a crash course in programming Lego robots. Classes are for
      school years 6+. At the end, the kids race their robots against the clock
      through an obstical course using a combination of light and ultrasonic
      sensors.
    </p>
  </div>

</div>
