<div>
  <a href="http://rsos.royalsocietypublishing.org/content/2/8/150266" target="_blank">
    <img src="assets/images/shortertitles/paper_titles.png" style="width: 100%;" />
  </a>
  <h3>Shorter titles</h3>
  <p>
    I wanted to know if we can quantify aspects of academic writing that
    correlate with how a paper is received. I found out that scientific papers
    with shorter titles recieve more citations.
  </p>
  <p>
    I wrote <a href="http://rsos.royalsocietypublishing.org/content/2/8/150266" target="_blank">a paper</a>
    about it. It made the front page of Reddit for a day. It was featured in:
  </p>

  <div style="text-align: center;">

    <a href="http://news.sciencemag.org/scientific-community/2015/08/brief-papers-shorter-titles-get-more-citations-study-suggests" target="_blank" class="shortertitlesmedia">
      <img src="assets/images/shortertitles/science.png" />
    </a>
    <a href="http://www.nature.com/news/papers-with-shorter-titles-get-more-citations-1.18246" target="_blank" class="shortertitlesmedia">
      <img src="assets/images/shortertitles/nature.png" />
    </a>
    <a href="http://www.thetimes.co.uk/tto/science/article4548298.ece" target="_blank" class="shortertitlesmedia">
      <img src="assets/images/shortertitles/the_times.png" />
    </a>
    <a href="http://www.dailymail.co.uk/news/article-3223513/Is-science-hard-scientists-Experts-worry-academic-papers-unintelligible-NO-ONE-read-them.html" target="_blank" class="shortertitlesmedia">
      <img src="assets/images/shortertitles/daily_mail.png" />
    </a>
    <a href="http://www.scientificamerican.com/podcast/episode/terse-titles-cited/" target="_blank" class="shortertitlesmedia">
      <img src="assets/images/shortertitles/scientific_american.png" />
    </a>

  </div>

</div>
