<div class="cv">
  <div class="container">

    <h2>Where I've spent my time</h2>

    <!-- Airtasker -->
    <div class="columns">
      <div class="column is-one-third left">
        <img src="assets/images/airtaskerml.png" style="height: 62px;" />
        <p>
          Airtasker helps you to realise the full value of your skills.
        </p>
      </div>
      <div class="column is-two-thirds right">
        <div class="jobtitle">Senior Data Scientist</div>
        <div class="time">May 2017 - Present</div>
        <div class="description">
          <p>
            I’m responsible for building the machine learning pipeline and
            algorithms at Airtasker.
          </p>
          <p>
            I’ve built systems to automate platform moderation, deal with task
            categorisation, recommend tasks to users and am currently working
            on pricing models that allow us to optimise our pricing to
            perfection.
          </p>
          <p>
            I’ve build models of our underlying business using advanced
            statistical techniques that allow us to project the business into
            the future and understand where we need to focus our efforts.
          </p>
        </div>
      </div>
    </div>

    <!-- Mathspace -->
    <div class="columns">
      <div class="column is-one-third left">
        <img src="assets/images/mathspace.png" style="height: 38px;" />
        <p>
          When you’re learning maths, Mathspace is the right help at the right
          time.
        </p>
      </div>
      <div class="column is-two-thirds right">
        <div class="jobtitle">R&D Software Engineer & Data Scientist</div>
        <div class="time">September 2016 - May 2017 (9 months)</div>
        <div class="description">
          <p>
            I organised the company’s data and built tools to help them
            understand their data and create more value for their customers and
            the company.
          </p>
          <p>
            I developed the next generation of adaptive learning algorithms to
            further automate the learning experience. Kids are now learning
            independently.
          </p>
        </div>
      </div>
    </div>

    <!-- WBS -->
    <div class="columns">
      <div class="column is-one-third left">
        <img src="assets/images/wbs.png" style="height: 200px;" />
      </div>
      <div class="column is-two-thirds right">
        <div class="jobtitle">Data Scientist</div>
        <div class="time">May 2014 - June 2016 (2 years 2 months)</div>
        <div class="description">
          <p>
            I used online data such as Google search logs to predict real world
            behaviour like future stock prices. Highlights include:
          </p>
          <p>
            - Engineered software on a Python/Javascript/HTML/CSS stack to
            predict future student numbers of the Warwick Business school and
            improve business operations.
          </p>
          <p>
            - Engineered various web tools in for business stakeholders to
            analyse large datasets.-Lead the development or had a hand in
            developing any software that was used outside of our team.
          </p>
          <p>
            - Created a multitude of data visualisations and infographics to
            showcase my own work and the work of the team.
          </p>
        </div>
      </div>
    </div>

    <!-- CSU -->
    <div class="columns">
      <div class="column is-one-third left">
        <img src="assets/images/CSU.png" style="height: 72px;" />
      </div>
      <div class="column is-two-thirds right">
        <div class="jobtitle">Ph.D. Student</div>
        <div class="time">2011 - 2013 (3 years)</div>
        <div class="description">
          <p>
            I developed a rigorous mathematical framework for traditional
            methods of trading. I used statistical analysis to dissect and
            understand how the methods generated profits.
          </p>
        </div>
      </div>
    </div>


  </div>
</div>
