<div class="footer">

  <div class="contact">
    <div class="container">
      <h2>Let's talk</h2>
      <p>
        I'm interested in awesome projects, speaking gigs, or just chatting
        about data science & machine learning.
      </p>
      <a href="mailto:me@dradrian.com">me@dradrian.com</a>
    </div>
  </div>

  <div class="social">
    <a href="https://twitter.com/dradrian" target="_blank" class="twitter"></a>
    <a href="https://www.linkedin.com/in/adrianletchford/" target="_blank" class="linkedin"></a>
    <a href="https://github.com/robolyst" target="_blank" class="github"></a>
    <a href="https://about.me/letchford" target="_blank" class="aboutme"></a>
  </div>

  <div class="copyrite">
    <div class="container">
      Crafted with passion by me
    </div>
  </div>

</div>
