<section class="hero is-fullheight">

  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="container">
      <div class="navbar">
          <a href="https://twitter.com/dradrian" target="_blank" class="social twitter"></a>
          <a href="https://www.linkedin.com/in/adrianletchford/" target="_blank" class="social linkedin"></a>
          <a href="https://github.com/robolyst" target="_blank" class="social github"></a>
          <a href="https://about.me/letchford" target="_blank" class="social aboutme"></a>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container">
      <h1>
        Hi! I’m Adrian.<br />
        Data scientist<br />
        & developer.
      </h1>
    </div>
  </div>
</section>
