<section class="hero is-fullheight">

  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="container">
      <div class="navbar">
          <a href="#" class="social twitter"></a>
          <a href="#" class="social linkedin"></a>
          <a href="#" class="social github"></a>
          <a href="#" class="social aboutme"></a>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container">
      <h1>
        Hi! I’m Adrian.<br />
        Data scientist<br />
        & developer.
      </h1>
    </div>
  </div>
</section>
