<div class='iluvdata'>
  <div class="columns">
    <div class="column left">
      <h2>I <span class="heart">&hearts;</span> data</h2>

      <p>
        Data is an exact thumbprint of the world's behaviour and psychology at
        any given moment.
      </p>

      <p>
        With data, I get to know what the world is thinking and feeling and
        what it will do next.
      </p>
    </div>
    <div class="column right">
      <img src="assets/images/IPhone.png" />
    </div>
  </div>
</div>
