<div class="things">

  <h2>Things I've done</h2>


    <!-- AWS shoot -->
    <div class="tile is-parent">
      <div class="tile is-child thing">
        {% include "tiles/_awsshoot.html" %}
      </div>
    </div>

    <div class="tile is-horizontal is-parent">

      <!-- Google street view -->
      <div class="tile is-child thing">
        {% include "tiles/_streetview.html" %}
      </div>

      <!-- Babies and cats -->
      <div class="tile is-child thing">
        {% include "tiles/_babiesandcats.html" %}
      </div>

    </div>

    <!-- Coventry in data -->
    <div class="tile is-parent">
      <div class="tile is-child thing">
        {% include "tiles/_coventryindata.html" %}
      </div>
    </div>

    <div class="tile is-horizontal is-parent">

      <!-- Shorter titles -->
      <div class="tile is-child thing">
        {% include "tiles/_shortertitles.html" %}
      </div>

      <!-- Google data api -->
      <div class="tile is-child thing">
        {% include "tiles/_googledataapi.html" %}
      </div>

    </div>

    <!-- Robot races -->
    <div class="tile is-parent">
      <div class="tile is-child thing">
        {% include "tiles/_robotraces.html" %}
      </div>
    </div>

    <!-- Christmas lecture -->
    <div class="tile is-parent">
      <div class="tile is-child thing">
        {% include "tiles/_christmaslecture.html" %}
      </div>
    </div>



</div>
